body {
    background: #222;
    color: #fff;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}
.tw-followCard-container{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
