.tw-followCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.tw-followCard-header{
    display: flex;
    gap: 3px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tw-followCard-name{
    font-size: 1rem;
    font-weight: bold;
}

.tw-followCard-username{
    font-size: .9rem;
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    font-weight: bold;
    padding: 5px 7px;
    cursor: pointer;
    border: 0;
    border-radius: 999px;
    background-color: #fff;
    font-size: 12px;
}

.is-following{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: #222;
    width: 110px;
}

.is-following:hover{
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.386);
    border: 1px solid rgb(255, 0, 0);
}

.tw-followCard-button:hover{
    opacity: 75%;
}

.tw-stop-following-text{
    display: none;
}

.is-following:hover .tw-stop-following-text {
    display: block;
}

.is-following:hover .tw-following-text {
    display: none;
}
